<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "bootstrap.ftl">
</head>
<body>
<div class="container-fluid">
    <h1 class="row text-center">
        Контест-сервер курса Базы Данных
    </h1>
    <p class="row text-center"><a href="/login" class="btn btn-info">Вход</a></p>
</div>
</body></html>
